@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "IBM Plex Sans", sans-serif;   
    scroll-behavior: smooth;
}

/*Estilizando o cabecalho*/
.cabecalho {
    background-color: #005995; /*cor de fundo*/
    color: white; /*cor da letra*/
    display: flex; /*alinhando os itens*/
    align-items: center; /*alinhamento vertical*/ 
    justify-content: space-between; /*alinhamento horizontal*/
    padding: 10px; /*espaço interno*/
    position: sticky; /*Faz com que o elemento fique grudado na tela quando o usuario rolar a pagina*/
    top: 0; /*Defique que o elemento ficara preso aon topo da tela (0px de distancia do topo)*/
    left: 0; /*define o alinhamento a esquerda da pagina, mantendo 0px de distancia*/
    z-index: 1; /*controla a sobreposicao do elemento sobre outros elementos da pagina*/
}

/*Estilizando o texto principal*/
.div-h1 h1 {
    font-size: 40px; /*tamanho da letra*/
    font-weight: 700; /*grossura da letra*/
}

.div-img {
    width: 100px; /*tamanho da img*/ 
}

.ul-lista li {
    list-style: none; /*tirando o estilo da lista*/
}

.div-lista ul {
    display: flex; /*Deixando lado a lado*/
    gap: 20px; /*espaçamente entre as LI*/
}

.ul-lista a {
    text-decoration: none; /*Removendo o estilo da A*/
    color: white; /*cor da letra*/
    font-size: 20px; /*tamanho da letra*/
    font-weight: 700; /*grossura da letra*/
}

.ul-lista a:hover {
    color: black;
}

/*Fim do cabecalho*/

/*Estilizando a primeira section*/
.section-01 {
    background-color: #5b9ddf; /*cor de fundo*/
    color: white; /*cor da letra*/
    display: flex; 
    align-items: center; /*alinhamento vertical*/
    justify-content: space-evenly; /*alinhamento horizontal*/
    flex-direction: row-reverse; /*direcao dos itens*/
    padding: 100px; /*espaço interno*/
}

/*estilizando a imagem*/
.img-section01 {
    width: 500px; /*tamanho da imagem*/
}

.div-02 h2 {
    color: #005995; /*cor da letra*/
    font-size: 40px; /*tamanho da fonte*/
    font-weight: 700; /*grossura da letra*/
    text-transform: uppercase; /*deixando em cx alta*/ 
    text-align: center; /*centrallizando o texto*/
}

.text-subtitulo {
    font-size: 25px; /*tamanho da fonte*/
    font-weight: 700; /*grossura da letra*/
    text-transform: uppercase; /*deixando em cx alta*/ 
    text-align: center; /*centralizando o texto*/
}

.div-02 p {
    font-size: 20px; /*tamanho da letra*/
    font-weight: 700; /*grossura da letra*/
    text-align: center; /*centralizando o texto*/
}

/*Estilizando a segunda section*/

.section-02 {
    display: flex;
    align-items: center; /*alinhamento vertical*/
    justify-content: space-evenly; /*alinhamento horizontal*/
    gap: 20px; /*espaçamento*/
    padding: 50px; /*espaço interno*/
    background-color: #5b9ddf; /*cor de fundo*/
    color: white; /*cor das letras*/
    font-size: 20px; /*tamanho da fonte*/
    font-weight: 700; /*grossura da letra*/
    text-transform: uppercase; /*deixando em cx alta*/
}

.section-02 h2 {
    text-align: center; /*centralindo o texto*/
    margin: 20px; /*dando um espaço*/
}

.carros {
    display: flex; /*deixando lado a lado*/
    justify-content: center;/*centralizando horizontal*/
    gap: 60px; /*espalo entre as div*/
}


.carros img {
    width: 250px; /*tamanho das imagens*/
    cursor: pointer;

}

.carros img:hover {
    box-shadow: 10px 10px 10px #005995;
    transition: all 0.3s ease-in-out;
}

/*Estilizando a terceira section*/

.section-03 {
    background-image: url(imagens/estoque.webp); /*cor de fundo*/
    background-position: center; /*centralizando a imagem*/
    background-repeat: no-repeat; /*para a img não se repetir*/
    background-size: cover; /*cobrir todo o espaço*/
    background-attachment: fixed; /*para deixar fixo*/
    padding: 200px; /*espaco da section*/
    display: flex;  
    align-items: center;
    justify-content: center;
}

.section-03 button {
    background-color: #005995; /*cor de fundo*/
    color: white; /*cor da letra*/
    border: none; /*removendo a borda*/
    padding: 20px; /*espaço interno*/
    font-size: 20px; /*tamanho da letra*/
    font-weight: 700; /*grossura da letra*/
    border-radius: 25px; /*deixando a borda redonda*/
    cursor: pointer; /*mundando o icone do mouse para a mãozinha*/
    transform: translate(50, -50); /*para mudar a cor de fundo quando passar o mouse*/
}

.section-03 button:hover {
    background-color: #206ebd; /*cor que fica quando passar o mouse em cima do botão*/
}

/*Estilizando a quarta section*/
.section-04 {
    background-color: #5b9ddf; /*cor de fundo*/
    color: white; /*cor da letra*/
    padding: 100px; /*espaço interno*/
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 100px; /*espaço entre as div*/
}

.div-h2 {
    font-size: 40px; /*tamanho da letra*/
    text-align: center; /*centralizando o texto*/
    text-transform: uppercase; /*deixa em cx alta*/
}

.div-p {
    font-size: 30px; /*tamanho da letra*/
} 

.botao {
    background-color: #005995; /*cor de fundo*/
    color: white; /*cor da letra*/
    border: none; /*removendo a borda*/
    padding: 20px; /*espaço interno*/
    font-size: 20px; /*tamanho da letra*/
    font-weight: 700; /*grossura*/
    border-radius: 25px; /*deixando redondo*/
    cursor: pointer; /*mundando o icone do mouse para a mãozinha*/
    transform: translate(50, -50); /*para mudar a cor de fundo quando passar o mouse*/
}

.botao:hover {
    background-color: #206ebd; /*cor que fica quando passar o mouse em cima do botão*/
}

footer {
    background-color: #005995; /*cor de fundo*/
    color: white; /*cor da letra*/
    font-size: 20px; /*tamanho da letra*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}